
#apple{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 45px;
    position: relative;
    left: 10rem;
}

#mango{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    top: 0rem;
    left: 10rem;
}

#orange{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    position: relative;
    top: 0rem;
    left: 10rem;
}
#banana{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    top: 0rem;
    left: 10rem;
}
#lok{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    top: 0rem;
    left: 10rem;
}
#jsad{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    top: 0rem;
    left: 10rem;
}
#a{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    top: 0rem;
    left: 10rem;
}
#ab{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    top: 0rem;
    left: 10rem;
}
#abc{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    top: 0rem;
    left: 10rem;
}
#b{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    top: 0rem;
    left: 10rem;
}
#bc{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    top: 0rem;
    left: 10rem;
}
#c{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    position: relative;
    left: 10rem;
}
#d{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    top: 0rem;
    left: 10rem;
}
#de{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    top: 0rem;
    left: 10rem;
    
}
#def{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    top: 0rem;
    left: 10rem;
}
#e{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    position: relative;
    left: 10rem;
}
#f{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    left: 10rem;
}
#fg{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    left: 10rem;
}
#fgh{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    left: 10rem;
}
#fghi{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    position: relative;
    left: 10rem;
}
#i{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    left: 10rem;
}
#ij{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    left: 10rem;
}
#j{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    position: relative;
    left: 10rem;
}
#jk{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    left: 10rem;
}
#jkl{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    position: relative;
    left: 10rem;
}